{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Liste des Livres </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    </head>
        
        <body>
            <div class="container mt-5 mb-3">
                <div class="row"> 
                    <div class="col-md-12 mb-5">
                        <h1><strong>Liste des Livres</strong></h1>
                    </div>               
                </div>
                <div class="row">                
                    {% for book in books %}
                    <div class="col-md-4">
                        <div class="card p-3 mb-2">
                            <div class="d-flex justify-content-between mb-4">
                                <div class="d-flex flex-row align-items-center">
                                    <div class="ms-2 c-details title">
                                        <h2 class="mb-2 h5"><strong>{{ book.title }}</strong></h2>
                                        <p><strong>ISBN : </strong> {{ book.ISBN }}</p>
                                        <p><strong>Date de publication : </strong> {{ book.publication_date }}</p>
                                        <p><strong>Auteur : </strong><a href="{% url 'author_detail' book.author.id %}"> {{ book.author.first_name }} {{ book.author.last_name }}</a></p>
                                    </div>
                                </div>
                                <div class="badge"><span>Rating : {{ book.rating }}</span></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>               
        </body>


        <footer></footer>
</html>