::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
} body {
background-color: #eee
}

.card {
border: none;
border-radius: 10px
}

.c-details span {
font-weight: 300;
font-size: 13px
}

.icon {
width: 80px;
height: 80px;
background-color: #eee;
border-radius: 15px;
display: flex;
align-items: center;
justify-content: center;
font-size: 39px
}

.badge span {
background-color: #FFC107;
width: 95px;
height: 25px;
padding-bottom: 3px;
border-radius: 5px;
display: flex;
color: #000000;
justify-content: center;
align-items: center
}

.progress {
height: 10px;
border-radius: 10px
}

.progress div {
background-color: red
}

.text1 {
font-size: 14px;
font-weight: 600
}

.text2 {
color: #a5aec0
}
.title a {
  color: #FFC107;
  margin-bottom: 5px;
  /* display: block; */
}

/* Ciblez la liste <ul> */
ul {
list-style-type: none; /* Supprimez les puces de liste */
padding: 0; /* Supprimez les marges intérieures */
}

/* Ciblez les éléments <li> */
ul li {
font-size: 14px;
margin-bottom: 2px;
font-weight: bold;
}

/* Ciblez le texte "Popularité" spécifiquement */
ul li:nth-child(odd) {
color: #FF9800; /* Couleur du texte pour "Popularité" */
}

/* Ciblez le texte "Évaluation" spécifiquement */
ul li:nth-child(even) {
color: #20c997; /* Couleur du texte pour "Évaluation" */
}
p.desc {
font-size: 13px;
line-height: 1.5;
}
i.bi.bi-circle-fill.green {
color: rgb(0, 255, 64);
background: rgb(0, 255, 64);
width: 15px;
height: 15px;
display: inline-block;
margin: 0 10px -4px 10px;
border-radius: 100%;
}
i.bi.bi-circle-fill.red {
color: rgb(255, 0, 0);
background: rgb(255, 0, 0);
width: 15px;
height: 15px;
display: inline-block;
margin: 0 10px -4px 10px;
border-radius: 100%;
}
h6.title {
font-size: 0.99rem;
text-decoration: underline;
color: #484848;
}
a.website {
color: black;
}
h2.mb-2.h5 {
  min-height: 69px;
}